<!DOCTYPE html>
<html>
<head>
	<title>AWOO</title>
	<!-- makes sure link loads from root directory with / -->
	<link rel="stylesheet" type="text/css" href="/awoo.css">
</head>
<body>
    <div>
    <a href = "https://training-vupatising.c9users.io/">back</a>
    </div>
    <p>Reasons to awoo</p>
   <ol>
		<li>it's fun</li>
		<li><strike>meow</strike></li>
		<li>awoo</li>
	</ol>
</body>
</html>