<% include partials/header %>
	<h1>Reasons why she is a thot</h1>
	<ol>
		<li>she sleeps around</li>
		<li>she a hoe</li>
		<ul>
			<li>u know its tru</li>
			<li>she a fucking ho</li>
		</ul>
		<li>no personality</li>
	</ol>
	<input type="checkbox" name="meme">
	Do you understand?
<% include partials/footer %>