<% include partials/header %>
<!-- loaders header template from partials folder -->
	<h1>Welcome to my shitty site</h1>
	<div>
	<a href="/bye"> Bye Page</a>
	</div>
	<div>
	<a href="/awoo"> Awoo Page</a>
	</div>
	<div>
	<a href="/awoo/woof"> Woof Page</a>
	</div>
<% include partials/footer %>