<% include partials/header %>
	<h1>Welcome to my shitty site</h1>
	<div>
	<a href="/bye"> Bye Page</a>
	</div>
	<div>
	<a href="/woof"> Woof Page</a>
	</div>
	<div>
	<a href="/woof/awoo"> Awoo Page</a>
	</div>
<% include partials/footer %>